nav{
   display: flex;
   justify-content: space-around;
   margin-left: -70px;
}

.logo{
   height: 25px;
   width: auto;
}
.logo1{
   height: 50px;
   width: auto;
   position: relative;
   top:12px;
}
h2{
   margin-left: -50px;
}
.main-content{
 border-right: 2px solid green;
 display: flex;
 justify-content: space-around;
}

.vid{
   border: 1px solid black;
}

body{
   color: white;
   background-color: black;
   font-family: 'Montserrat', sans-serif;
}

ul{
   
   
}
li{
   text-transform: uppercase;
   list-style: none;
   padding: 10px;
   border: 1px solid gray;
}

li:hover{
   background-color: darkgray;
   justify-content: center;
}
.middle-content{
  width: 60%;
}
.vid-images{
   display: flex;
}

#description{
   width: inherit;
   margin-left: 21%;
   margin-top: 50px;
   height: 290px;
   overflow: hidden;  
}
#description2{
   width: inherit;
   margin-left: 21%;
   margin-top: 50px;
   height: 290px;
}
#toggler{
   width: inherit;
   display: inline;
   margin-left: 42%;

   background-color: rgb(133, 171, 68);
   margin-top: 25px;
   padding: 10px;
   position: relative;
   top: 25px;
}

#toggler:hover{
   background-color: darkolivegreen;

}


#vid{
   text-align: center;
}
.photo-container{
    height: 150px; 
    width: 250px; 
   
    overflow: hidden;
    margin: 10px 10px 10px 0;

}

img{
   height: 150px;
   width: 250px;
}

img:hover{
   filter: invert(1);
}

#image{
   width: auto;
   height: auto;
}
#ayo{
   width: 600px;
   height: auto;
  
}

#ayo2{
  width: 640px;
   height: 480px;
 background-image: url('');
 background-blend-mode: screen;
  background-color: transparent
}
#ayo3{
  width: 640px;
   height: 480px;
 background-image: url('');
 background-blend-mode: screen;
  background-color: transparent
}

